.App {
    padding: 30px;
    display: flex;
    background-color: #bcb5e5;
    height: 100vh;
}

.App > div {
    margin-right: 50px;
}


.todolist {
    border: 2px solid #1b9453;
    padding: 15px;
    border-radius: 10px;
    background-color: #50d3c3;
    height: max-content;
}

.task {
    font-weight: bold;
}

.taskDone {
    text-decoration: line-through;
    opacity: 0.5;
}

.activeBtn {
    background-color: #0b7e5e;
    border: 2px solid #0b7e5e;
    color: white;
    border-radius: 5px;
}

.inputError {
    border: 2px solid red;
    outline: none;
}